.buttons 
    margin-bottom: 32px
    text-align: center

.portfolio-button
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 500
    font-size: 20px
    padding: 0
    margin-right: 20px

    color: #b4b4b4

    background: none
    border: none

    cursor: pointer


.items
    display: flex
    flex-wrap: wrap
    justify-content: center
    // justify-content: space-between
    gap: 20px
    margin-bottom: 80px

li 
    list-style-type: none

.active 
    color: #63A6B9
